* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: 'Times New Roman', Times, serif;
}

header {
        height: 80vh;
        width: 100%;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    padding: 2rem 5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
        color: antiquewhite;
        font-weight: 400;
}

nav ul li a:hover {
    color: rgb(216, 177, 130);
    transition: .5sec ease-in-out;
}

.header-content {
    color: antiquewhite;
    position: relative;
    top: 5rem;
}

#intro {
    text-align: center;
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.336);
}

#intro p {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

#bio {
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.13);
}

#bio h2 {
    text-align: center;
}

.bio-member {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(250, 235, 215, 0.068);
}

.bio-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.bio-member p {
    flex: 1;
    font-size: 1.1em;
}




form {
    width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

form button {
    padding: 1rem 2rem;
    background-color: rgb(185, 154, 115);
    color: white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

form button:hover {
    background-color: antiquewhite;
    color: black;
}