* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: 'Times New Roman', Times, serif;
}

header {
        height: 80vh;
        width: 100%;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-color: antiquewhite;
    transition: background-color 300ms;
    padding: 2rem 5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.062);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
}

nav ul li {
    margin-left: 1rem;
}
