* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: 'Times New Roman', Times, serif;
}

header {
        height: 80vh;
        width: 100%;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-color: antiquewhite;
    transition: background-color 300ms;
}

